@model AracKiralama.Entity.kiralikAraclar

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <style>
        body {
            background-image: linear-gradient(to left bottom, rgba(230,255,230,0.7),rgba(102,255,102,0.7)),url(/images/araba.jpg);
        }

        .container {
            width: 100%;
        }

        .baslıklar {
            text-align: center;
            border: 2px solid black;
            background-color: cornsilk;
            border-radius: 10px;
            box-shadow: 10px 10px 5px rgba(0,0,0,0.25);
        }

        .inputlar {
            text-align: center;
            margin-top: 50px;
            border: 2px solid black;
            padding: 5px;
            border-radius: 10px;
            width: 220px;
            height: 120px;
            margin-left: 500px;
            background-color: rgb(92, 88, 88);
        }

        i {
            font-size: 100px;
        }

        p {
            display: inline;
            font-weight: bold;
        }

        .gun_sayisi {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <form method="post" action="~/Arac/AracKiralama/">
        <div class="container">

            <div class="baslıklar">
                <h1>Araç Kiralama</h1>
                <i class="fas fa-car"></i>
            </div>

            <div class="inputlar">
                <div class="form-group">
                    <p>Gün Sayısı:</p>
                    <div>
                        @Html.EditorFor(model => model.KacGun, new { htmlAttributes = new { @class = "gun_sayisi" } })
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Kirala" class="btn btn-danger" onclick="AracEklemeMesaji()" />
                    </div>
                </div>

            </div>
        </div>
    </form>
</body>
</html>
